<section class="best-seller__section">
  <div>
    <h3 class="main-title-section">Mais Vendidos</h3>

    <div
      class="cards-container"
    >
      <article>
        <div>
          <%= image_tag "pictures/bestsellers/product1.webp", style: "width:250px;"%>
        </div>
        <div class="product-info-div">
          <h3 class="product-name">Nome do Produto</h3>
          <p class="product-value">R$ 100,00</p>
        </div>
      </article>
      <article>
        <div>
          <%= image_tag "pictures/bestsellers/product2.webp", style: "width:250px;"%>
        </div>
        <div class="product-info-div">
          <h3 class="product-name">Nome do Produto</h3>
          <p class="product-value">R$ 100,00</p>
        </div>
      </article>
      <article>
        <div>
          <%= image_tag "pictures/bestsellers/product3.webp", style: "width:250px;"%>
        </div>
        <div class="product-info-div">
          <h3 class="product-name">Nome do Produto</h3>
          <p class="product-value">R$ 100,00</p>
        </div>
      </article>
      <article>
        <div>
          <%= image_tag "pictures/bestsellers/product4.webp", style: "width:250px;"%>
        </div>
        <div class="product-info-div">
          <h3 class="product-name">Nome do Produto</h3>
          <p class="product-value">R$ 100,00</p>
        </div>
      </article>
    </div>
  </div>
</section>
