<section class="best-seller__section">
  <div>
    <h3 class="main-title-section">Mais Vendidos</h3>

    <div class="cards-container">
      <% @products.each do |product| %>
        <article style="max-width: 300px;">
          <div>
            <%= image_tag product.imagem, style: "width:250px;"%>
          </div>
          <div class="product-info-div">
            <h3 class="product-name"><%= product.nome.slice(0,38) %></h3>
            <p class="product-value">R$ <%= product.preco.to_s.sub(".",",") %></p>
          </div>
        </article>
      <% end %>
    </div>
  </div>
</section>
