main.home-container {
  background-color: var(--secondary);
}

.main-section {
  background-image: url("assets/icons/home/bottom-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100%;

  min-height: 700px;
}

.main-section article {
  height: 98vh;
  margin: 0 auto;
  max-width: 1300px;

  position: relative;
}

.content-container {
  padding-top: 120px;
}

.main-title-bold {
  color: var(--text-white);
  font-size: 20px;
  font-family: var(--family-baloo);
  font-size: 4rem;
  line-height: 1;

  display: flex;
  align-items: flex-end;
}

.sub-title {
  font-size: 4rem;
  color: var(--text-white);
  font-family: var(--family-baloo);
  font-weight: var(--font-weight-regular);
  max-width: 700px;
  line-height: 1;
}

.vip-text {
  font-family: inherit;
  font-size: 7rem;
  color: var(--secondary);
  text-shadow: -1px -1px 0 var(--primary), 1px -1px 0 var(--primary),
    -1px 1px 0 var(--primary), 1px 1px 0 var(--primary);
}

.pet-icon {
  width: 200px;
  height: 140px;
  margin-left: 20px;
  color: var(--primary);
}

.petshop-logo {
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;

  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 0;
}

.dog-picture {
  height: 365px;
  width: 365px;
  object-fit: cover;
  border-radius: 50%;
}

.categories-section {
  background-color: var(--text-white);

  & > div {
    max-width: 1300px;
    margin: 0 auto;
    padding: 6.25rem 0;
  }
}

.main-title-section {
  font-family: var(--family-baloo);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
  color: var(--text-dark);
  text-align: center;
}

.product-categories__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

.product-categories__container h3 {
  font-family: var(--family-baloo);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
  color: var(--text-dark);
  text-align: center;
}

.product-category__item {
  border-radius: 50%;
  padding: 15px;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}
.product-categories__container > a:nth-child(odd) > .product-category__item {
  background-color: var(--primary);
}
.product-categories__container > a:nth-child(even) > .product-category__item {
  background-color: var(--secondary);
}

.products-category__icon {
  font-size: 6rem;
}

.best-seller__section {
  background-color: var(--text-white);

  & > div {
    max-width: 1300px;
    margin: 0 auto;
    padding: 6.25rem 0;
  }
}

.best-seller__section .cards-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  & article {
    background-color: var(--white);
    /* border: 1px solid green; */
    border-radius: 1rem;
    overflow: hidden;

    box-shadow: var(--shadow-small);

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transition: all 0.3s ease;
      transform: scale(1.1);
    }
  }

  & article .product-info-div {
    padding: 8px 1rem;
  }

  & article .product-name {
    font-family: var(--family-poppins);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semibold);
    color: var(--text-dark);
  }

  & article .product-value {
    font-family: var(--family-poppins);
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-regular);
    color: var(--text-dark);
  }
}
