.login-container {
  display: flex;
  height: 80vh;
  max-width: 1300px;
  margin: 1rem auto 0;
  box-shadow: var(--shadow-medium);
  overflow: hidden;
  border-radius: var(--border-radius-small);
  background-color: var(--text-white);
}

.login-illustration {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--primary);
  padding: 1rem 1rem 0;
}

.login-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.login-main-title {
  text-align: center;
  font-family: var(--family-instrument);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-large);
  margin-bottom: 1rem;
  color: var(--text-grey-dark);
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

.login-form form {
  width: 100%;
}

.login-form .input-container {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.input-container label {
  display: block;
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  color: var(--text-grey-dark);
  font-family: var(--family-instrument);
}

.input-container input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 0.4rem;
  outline: none;
  border-radius: var(--border-radius-small);
  background-color: var(--grey-input);
  border: 1px solid var(--gray-border-light);

  font-size: var(--font-size-small);
  font-family: var(--family-instrument);
}

.login-input-label {
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  color: var(--text-grey-dark);
  font-family: var(--family-instrument);
}

.login-form .button-submit {
  width: 100%;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-size: var(--font-size-small);
  border-radius: var(--border-radius-small);
  cursor: pointer;

  &:hover {
    background-color: var(--primary-light);
  }
}

.login-form .register-title {
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  color: var(--text-grey-dark);
  font-family: var(--family-instrument);

  & a {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: var(--primary);

    text-decoration: underline;

    margin-left: 4px;

    &:hover {
      color: var(--primary-light);
    }
  }
}

.login-form .error-message {
  color: var(--error);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  font-family: var(--family-instrument);
  margin-top: 0.5rem;
}

.login-form .recover-password-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  & a {
    color: var(--primary);
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-medium);
    font-family: var(--family-instrument);

    &:hover {
      color: var(--primary-light);
    }
  }
}