<% content_for :title, "Novo Agendamento" %>

<h1>Novo Agendamento</h1>

<%= render "form", appointment: @appointment %>

<br>

<div>
  <%= link_to "Back to appointments", appointments_path %>
</div>
